body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}
header {
  top: 0;
  position: fixed;
  width: 100%;
  font-size: 2em;
  color: white;
  display: block;
  align-items: center;
  padding: .75em 0.25em .75em 0.25em;
  text-align: center;
  background-color: #ff8533;
}
img {
  display: flex;
  margin: 50px auto;
  padding-top: 4em;
}
.topbar{
    margin-top: 30px;
    text-align: center;
    color: #ff8533
}
.loginform-booked {
  position: absolute;
  padding: 0 20vw;
  align-items: center;
  visibility: visible;
}
.lot-info span {
  color: #ff8533;
}
.address-info {
  background-color: white;
  width: 70vw;
  border-radius: 50px;
  height: 10vh;
  margin: auto;
  color: black;
  font-size: 80%;
  padding: 10px 15px;
}
.address-info span {
  color: #ff8533;
}
