.location-name {
  top: 0;
  position: fixed;
  width: 100%;
  display: block;
  align-items: center;
  padding: 1em 0.25em 1em 0.25em;
  text-align: center;
  background-color: #ff8533;
}
.location-name span {
  margin: 0 auto;
  font-size: 200%;
  color: white;
}
.container-1{
  padding-top: 4em;
}
.thelot {
  width: 80vw;
  height: 30vh;
  border: 4px solid black;
  margin: auto;
  padding: 5px;
  margin-top: 1vh;
}
.lot-data {
  width: 80vw;
  display: flex;
  direction: row;
  margin: auto;
  padding-bottom: 0;
}
.bars {
  letter-spacing: -0.15cm;
  border: 1px solid black;
  text-align: center;
  font-size: xx-large;
  min-height: 28vh;
  padding: 0;
  z-index: -1;
}

.booked-spots{
  background-color: red;
}

.parking-stat {
  font-size: 1.5em;
}

@media only screen and (max-width: 800px) {
  .bars {
    font-size: x-large;
  }
  .parking-stat {
    font-size: 1em;
    vertical-align: baseline;
  }
}
.container-2 {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 0;
}

.dummybutton-1 {
  display: inline;
  height: 4vh;
  width: 4vh;
  outline: none;
  border: 2px solid black;
  background-color: red;
}
.dummybutton-2 {
  height: 4vh;
  width: 4vh;
  outline: none;
  border: 2px solid black;
  background-color: yellow;
}
.dummybutton-3 {
  height: 4vh;
  width: 4vh;
  outline: none;
  border: 2px solid black;
  background-color: white;
}
.lot-info {
  text-align: center;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 50px;
}

.loginform-booking {
  align-items: center;
  width: 100%;
}
.box {
  display: flex;
  width: 60vw;
  flex-direction: column;
  font-weight: bold;
  font-size: 1.5em;
  color: #ff8533;
  margin: 0 auto;
}
label{
    margin-top: 15px;
}
.loginbutton{
    height:80px;
    width:60vw;
    background-color:#ff8533;
    font-size:1em;
    border:5px solid white;
    border-radius: 40px;
    color:white;
    font-weight: bold;
    margin: 20px 0;
    cursor: pointer;
  }